h1,
p {
  text-align: center;
  display: block;
}

body {
  background: #f8e8a6;
}

footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: #e46161;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
